html {
    max-width: fit-content;
    margin: auto;
    text-align: center;
}

button {
    min-width: 5ch;
    min-height: 5ch;
    overflow: hidden;
    font-size: small;
}

#resultscreen {
    display: none;
}

